{% extends 'partials/auth_card.html' %}
{% load widget_tweaks %}

{% block title %}Reset your password{% endblock %}

{% block auth-card-title %}Reset your password{% endblock %}

{% block auth-card %}
{% if validlink %}
<form method="post">
    {% csrf_token %}
    {% include 'includes/bs5_form.html' with form=form %}
    <div class="d-flex align-items-center justify-content-end mt-4 mb-0">
        <input type="submit" value="Change my password" class="btn btn-primary" />
    </div>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has already
    been used. Please request a new password reset.</p>
{% endif %}
{% endblock auth-card %}