{% extends 'layouts/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block main %}
<div class="container-xl px-4">
    <div class="d-flex flex-column align-items-center mt-2">
        <div class="card bg-white">
            <h5 class="card-header bg-primary text-white">Update Password</h5>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% include 'includes/bs5_form.html' with form=form %}
                    <input type="hidden" name="action" value="update_password">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}