{% extends 'layouts/main.html' %}
{% block main %}
<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
    <div class="container-xl px-4">
        <div class="d-flex flex-column text-center align-items-center justify-content-center">
            <h1 class="text-white">Welcome to Kaduna Electric's Distribution Network Management Platform
            </h1>
            <p class="lead mb-0 mt-2 w-75 text-white-50">A platform for managing
                distribution asset,
                energy
                dispatch, workshop activities and other technical activities</p>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4">
    <h2 class="mt-5 mb-0">Quick Navigation</h2>
</div>
{% endblock main %}